.footer {
    background: linear-gradient(to right, #000000, #002147, #01338c);
    width: 100%;
    height: 250px; 
    display: flex;
    justify-content: space-evenly; /* Distribuye uniformemente las secciones */
    align-items: center;
    position: relative;
}

.footer > div > img {
    display: flex;
    height: auto;
    margin-left: 140%;
}

.footer h1  {
    color: white;
}

.footer-sections {
    display: flex;
    width: 60%; /* Aumenta el ancho para evitar separación excesiva */
    margin-left: 40%; /* Mueve todas las secciones un poco a la derecha */
    gap: 80px; /* Controla la separación entre secciones */
}

.footer-section {
    display: flex;
    flex-direction: column;
    text-align: left;
    min-width: 150px; /* Limita el ancho mínimo para evitar demasiada separación */
}

/* Mueve "Community" un poco más a la derecha */
.footer-section:first-child {
    margin-left: 80px;
}

.footer ul {
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    font-size: 18px; /* Aumenta el tamaño del texto */
    margin: 8px 0;
    display: flex;
    align-items: center;
}

.footer-section ul li img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}