.footer {
    background: linear-gradient(to right, #000000, #002147, #01338c);
    width: 100%;
    height: 400%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 30px;
    padding-bottom: 40px;
    border-top: 1px solid black; /* 🔹 Línea negra de 3px */
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.footer-logo img {
    width: 180px;
}

.footer-sections {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    padding-left: 10px;
    margin-left: 380px;
}

.footer-section {
    flex: 0.25;
    text-align: left;
}

.footer h1 {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}

.footer ul {
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    font-size: 18px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    line-height: 1.4; /* 🔹 Aumenta el interlineado */
    padding: 3px 0;  /* 🔹 Espacio adicional entre elementos */
}

.footer-section ul li img {
    width: 28px;
    height: 28px;
    margin-right: 8px;
}

.footer a {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.footer a:hover {
    color: grey;
}

.footer-section:nth-child(2) {
    flex: 0.2;
    margin-right: 20px;
}

html {
    scroll-behavior: smooth;
}
