/* Estilos generales */
.proyectos {
    background: linear-gradient(to right, #000000, #002147, #01338c);
    padding: 40px 20px;
    text-align: center;
}

.proyectos h1 {
    color: white;
    margin-bottom: 20px;
}

/* Contenedor principal con Grid */
.info-container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Texto más ancho, imagen más estrecha */
    gap: 20px;
    align-items: center; /* Alinear verticalmente */
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 40px;
}

/* Sección de texto (Izquierda) */
.text-section {
    grid-column: 1; /* Se ubica en la primera columna (izquierda) */
    text-align: center;
    color: white;
}

.text-section p {
    font-size: 18px;
    line-height: 1.6;
    margin: 5px 0;
}

/* Título de la descripción */
.descripcion {
    font-size: 30px;
    color: #FFD700;
    text-decoration: underline;
    line-height: 1.6;
}

/* Estilos para la descripción */
.catledesc {
    text-align: center; /* Justifica el texto */
    max-width: 80%; /* Limita el ancho del texto */
    margin: 0 auto; /* Centra horizontalmente el bloque */
}

.catledesc p {
    font-size: 18px;
    line-height: 1.6;
    margin: 5px 0;
}

/* Estilo para resaltar palabras clave en la descripción */
.text-section p strong {
    color: #FFD700;
}


/* Sección de imagen (Derecha) */
.image-section {
    grid-column: 2; /* Se ubica en la segunda columna (derecha) */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section img {
    height: 80%;
    width: auto;
    border-radius: 10px;
}

#webfoto {
    display: flex;
    height: 200px;
    width: auto;
}

#snakefoto {
    display: flex;
    height: 300px;
    width: auto;
}

